<h3>----- HTML form example -----</h3>
<form action="/regist" method="post">
  <!-- <div>UserName:<input type="text" required pattern="[a-zA-Z0-9]"></div> -->
  <div>UserName:<input type="text"></div>
  <div>Phone:<input type="text"></div>
  <!-- <div>PostCode:<input type="number" min="100000" max="999999"></div> -->
  <div>PostCode:<input type="number"></div>
  <div>Password:<input type="password"></div>
  <div>Confirm:<input type="password"></div>
  <!--  no action is taken when we click on the button, because it is overtaken by Angular -->
  <button type="submit">Regist</button>
</form>

